CLOUD_NAME=your_value_here
CLOUD_API_KEY=your_value_here
CLOUD_API_SECRET=your_value_here

# MAP_TOKEN=your_value_here

ATLASDB_URL=your_value_here

SECRET=your_value_here


MONGO_URL =your_value_here

